

/* CSS pour la page d'inscription, début le 21/12/2016 */


/* import du style du header + barre de nav et footer */
 @import url(style.css);

 
 /* Empèche le redimensionnement du textarea */
textarea{ 
	resize:none;
}



/* Centre, et met en avant le titre de la page "Inscription" */
.title{
	padding-bottom: 5%;
    text-align: center;
    font-size: 4em;

}

/* Décale la div du bas pour aérer la page */
.pad {
	padding-top: 3%;
	padding-bottom: 3%;
}



/* Mise en avant du numéro jeunesse et sport  */
#red {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

