
/*********************************************************************/
/*																	 */
/*							FOOTER								 	 */
/*																	 */
/*********************************************************************/
a{ /* couleur des liens */
	color: #cfd2da;
}
.foot2{ /* Couleur arriere plan, texte, et taille du texte */
	background-color: black;
    color:  #cfd2da;
    font-size: x-small;
    margin: 0;

}
.legal{ /* Placement des CGU CGV */
	float: right;
	display: inline;
    padding-top: 1%;
    vertical-align: top;
    text-align: right;
    width: 35%;
}
.copy2{ /* Placement des copyrights */
	display: inline;
    float: left;
    padding-top: 2%;
    vertical-align: top;
    width: 35%;

}
.adresse2{ /* placement des coordonnées */
	padding-top: 1%;
    display: inline;
    text-align: center;
    width: 30%;
}
.container{ /* Surcharge de la lcasse bootstrap pour prendre toute la page */
	width: 100%;
}
