/****************************************************/
/*                                                  */
/*                       PROFIL                     */
/*                                                  */
/****************************************************/
.titreprofil{ /* placement du titre H1 */
	text-align: center;
	margin-top: 8%;
}
.listInfo{ /* centrage du texte de la liste d'infos */
	text-align: center;
}
.tempRestant{ /* placement et alignement centre pour le temps restant */
	text-align: center;
	margin-top: 8%;
	margin-bottom: 8%;
}
.lienressource{ /* placement ressources */
	text-align: center;
	margin-top: 10%;
}