/****************************************************/
/*                                                  */
/*                      CGU                         */
/*                                                  */
/****************************************************/
section > h4 { /* centrage des titres d'article */
	text-align: center;
}
.cguplace{ /* placement du texte */
    margin-left: 25%;
    margin-bottom: 4%;
}
.titreCgu{
	background:#e01c23;
	text-align: center; 
}
.blue{
	color:#57abe0;
}
.red{
	color:#e01c23;
}
.magenta{
	color:#e2007b;
}
.yellow{
	color:#f4c000;
}