
                   
/* CSS pour la page d'inscription, début le 21/12/2016 */

 
 /* Empèche le redimensionnement du textarea */
textarea{ 
	resize:none;

}
/* couleur rouge sur les astérisques à côté des paragraphes*/
.asterisque{
	color: red;
}

/* auto ajustement de la taille des select du formulaire*/
.formation, .lieu, .theme{
	width: auto;
}

/* Centre, et met en avant le titre de la page "Inscription" */
.title{
	padding-bottom: 5%;
    text-align: center;
    font-size: 4em;
    margin-top: 5%;
}

/* Décale la div du bas pour aérer la page */
.pad {/* pad correspond à la partie checkbox */
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 12%;
}
/* Mise en avant du numéro jeunesse et sport  */
#red {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.form{/* div class="row form" */
	margin: auto;/* centrage automatique du formulaire */
}

.colonne{/* classe sur les colonnes du formulaire pour les centrer */
	margin-left: 10%;
	width: 40%;
	padding: 0 17px;
}




/* Responsive du site mobile */
@media screen and (max-device-width: 767px){
	.colonne{ /* Redimensionnement des propriétés de la classe afin d'améliorer le positionnement */
		margin: 0;
		width: 100%;
		padding: 0;
	}
	.colonne > p{ /* aggrandir le paragraphe */
		width: 122%;
		font-size: 16px;
	}
	.pad{ /* adaptation des checkboxs et du texte pour responsive */
		padding-left: 0;
		font-size: 16px;
		width: 83%;
	}
	select{ /* redimensionnement des select*/
		width: 85%;
	}

}


@media screen and (max-width: 991px){

	.colonne{
		margin-left: 10%;
		width: 100%;
		font-size: 24px;
	}

	.colonne > label {/* aggrandir le paragraphe */
		width: 112%;
		font-size: 16px;
	}
	.pad{ /* adaptation des checkboxs et du texte pour responsive */
		padding-left: 0;
		font-size: 16px;
		width: 83%;
	}
	select{ /* redimensionnement des select*/
		width: 85%;
	}
	.form-control {
    width: auto;
}