/****************************************************/
/*                                                  */
/*                 Mentions légales                 */
/*                                                  */
/****************************************************/


section{ /* Modication de la font pour toute la section */
	font-family: 'Raleway',sans-serif;
	margin-bottom: 4%;
} 

section > h4 { /* centrage des titres d'article */
	text-align: center;
}

.titreprofil{ /* mise en forme du titre */
	font-family: Arial;
	font-size: 43px;
	font-weight: 600;
    line-height: 41px;
	color: #445561;
	margin-bottom: 4%;
    margin-top: 25px;
	border-left: 11px solid #009ee2;
    padding-left: 11px;
	text-transform: uppercase;
	margin-left: 2%;
}

.blue2{
	color:#57abe0;
}
.red2{
	color:#e01c23;
}
.magenta2{
	color:#e2007b;
}
.yellow2{
	color:#f4c000;
}