/*********************************************************************/
/*																	 */
/*							FOIRE AUX QUESTIONS					 	 */
/*																	 */
/*********************************************************************/


section{ /* Modication de la font pour toute la section */
	font-family: 'Raleway',sans-serif;
	margin-bottom: 4%;
} 

.alert{ /* Modification de la largeur de l'alerte jaune*/ 
	width: 97%;
}

.title{ /* Initialisation du titre "FAQ" */
	font-family: Arial;
	font-size: 43px;
	font-weight: 600;
    line-height: 40px;
	color: #445561;
	margin-bottom: 4%;
    margin-top: 25px;
	border-left: 11px solid #e5007e;
    padding-left: 11px;
	text-transform: uppercase;
	margin-left: 2%;
}

.color{ /* Couleur des liens de la page */
	color:#fab900;
}

.faqHeader { /* Agrandissement des titres sur la FAQ */ 
        font-size: 27px;
        margin: 20px;
}

.panel-group{ /* Modification de la largeur des questions*/
	width: 97%;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072"; /* "play" icon */
	float: right;
	color: #009ee2;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {  /* rotation du bouton "play" */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #454444;
    }

	
	/* Responsive du site mobile */
	@media screen and (max-width: 767px){
	
	.panel-group{ /* rétrécit le formulaire afin de l'adapter sur les petits écrans  */
		margin: auto;
		width: 91%;
	}    	
	.carousel-inner{
		margin: auto;
		width: 97%
	}
	.title{
		margin-bottom: 10%;
	}
	}